<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">

          <input name="number1" type="text" class="ghost-input"  placeholder="Number1"  required>
          <input name="number2" type="text" class="ghost-input"  placeholder="Number2"  required>
          <div>
          <label for="operations">Operations:</label>
            <select id="operations" name="operation">
                <option value="add">Add</option>
                <option value="Subtract">Subtract</option>
                <option value="Multiply">Multiply</option>
                <option value="Divide">Divide</option>
            </select>
            </div>
          <input type="submit" class="ghost-button" value="Calculate">
        </form>
        <% if(operationResult !== null){ %>
          <p><%=operationResult %></p>
        <% } %>

      </fieldset>
    </div>
  </body>
</html>